{% extends "base.html" %}
{% block title%} Match Details{% endblock %}

{%block content%}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='searchsmatch.css') }}">
<form action="#" method="POST">
    <h1>Інформація про матч</h1>
    <p>Match ID: {{ match.id }} </p>
    <p>Home Team: {{ match.home_team }} </p>
    <p>Away Team: {{ match.away_team }}</p>
    <p>Рахунок: {{ match.score }}</p>
    <p>Стадіон: {{ match.stadium }}</p>
</form>

    <form action="/" methods="GET">
        <button type="submit">Go to Home page</button>
    </form>
    <form action="/api/search_match" methods="GET">
        <button type="submit">Go to Search Match</button>
    </form>
{%endblock%}
