/* adminpanel.css */

/* Add your styles as needed */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.top-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #800000;
    padding: 10px 0;
}

.dropbtn {
    background-color: #DC143C;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 10px; /* Add margin to position it above the center */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #900C3F;
}
